/* body {
    color: white;
} */

.options-container {
    display: flex;
    margin-bottom: 0.7rem;
    width: 100%;
    background-color: rgb(161, 185, 207);
    border-radius: 3px;
    font-size: medium;
}

.options-container:hover {
    cursor: pointer;
    box-shadow: rgb(0, 162, 255);
    transform: scale(1.01);
    transition: trasform 150ms;
}

.option-prefix {
    padding: 1.5rem 2.3rem;
    background-color: rgb(0, 129, 250);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: white;
}

.option-text {
    padding: 1.5rem;
    width: 100%;
}

/* --- Used the Boostrap Pallet Colors / https://colorswall.com/palette/3/ --- */
.correct {
    background-color: #5cb85c;
}

.incorrect {
    background-color: #d9534f;
}


/* --- Game Display --- */

#game-display {
    display: flex;
    justify-content: space-between;
}

#game-display h1 {
    color: black;
    font-size: 3rem;
}

.display-prefix {
    font-size: 1.8rem;
    text-align: center;
}

.display-main-text {
    text-align: center;
}