@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    background-color: black;
    font-size: medium;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
}

h2 {
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 1.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}


/* --- Buttons --- */

.btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    color: black;
    background-color: rgb(213, 236, 5);
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.5rem 0 rgb(189, 161, 4);
    transform: translate(-0.2rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}