@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto Slab', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    background-color: #EFF5F8;
    font-size: medium;
}

.hero {
    background-color: rgba(58,124,154,0.65);
    padding: 3rem;
    width: 100%;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    color: #263b4f;
    text-align: center;
    margin: 1.5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 1.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}


/* --- Buttons --- */

.btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    background-color: #31A1B9;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.5rem 0 #31A1B9;
    transform: translate(-0.2rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* --- End Screen --- */

#end h1 {
    color: #263b4f;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    box-shadow: 0 0.2rem 1rem 0 #31A1B9;
}

input::placeholder {
    text-align: center;
    color: lightblue;
}