@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto Slab', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    background-color: #EEF6F7;
    font-size: medium;
}

.hero {
    background-color: rgba(58,124,154,0.65);
    padding: 3rem;
    width: 100%;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    color: #1F3B4D;
    text-align: center;
    margin: 1.5rem;
}

.container {
    width: 100vw;
    height: 93vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 1.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}


/* --- Buttons --- */

.btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    background-color: #1E9AB0;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.5rem 0 #1E9AB0;
    transform: translate(-0.2rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* --- Pass Game Screen --- */

#end h1 {
    color: #1F3B4D;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    box-shadow: 0 0.2rem 1rem 0 #1E9AB0;
}

input::placeholder {
    text-align: center;
    color: lightblue;
}

.hidden {
    display: none;
}


/* --- Best Score Page --- */


#bestScores h1 {
    color: #1F3B4D;
}

#bestScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 3rem;

}

.best-score {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.best-score:hover {
    transform: scale(1.2);
    text-decoration: underline;
}


/* --- No Pass Page --- */

#noPassDiv h1 {
    color: #1F3B4D;
}

#noPassDiv h2 {
    color: #1F3B4D;
    text-decoration: underline;
}

/* --- Loading --- */

#loader {
    border: 2rem white;
    border-radius: 50%;
    border-top: 2rem #1E9AB0;
    border-bottom: 2rem #1E9AB0;
    width: 12rem;
    height: 12rem;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* --- Start Footer --- */

footer {
    background: #1E9AB0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer .footer-text span {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

footer .footer-text span a {
    font-weight: 500;
    color: black;
}

footer .footer-text span a:hover {
    text-decoration: underline;
}


@media (max-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 1024px) {
    h1, h2, h3, h4 {
        margin-bottom: 0.5rem;
    }
    
    h1 {
        font-size: 4.5rem;
    }
    
    h2 {
        font-size: 2.5rem;
        margin: 1.2rem;
    }
}

@media (max-width: 646px) {
    h1, h2, h3, h4 {
        margin-bottom: 0.5rem;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
        margin: 1.2rem;
    }
}

@media (max-width: 500px) {
    h1, h2, h3, h4 {
        margin-bottom: 0.5rem;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
        margin: 1.2rem;
    }

    .btn {
        font-size: 1.8rem;
        padding: 1rem 0;
        width: 23rem;
    }
}

@media (max-width: 375px) {
    h1, h2, h3, h4 {
        margin-bottom: 0.2rem;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
        margin: 1.2rem;
    }

    .hero {
        padding: 2rem;
    }

    .btn {
        font-size: 1.5rem;
        padding: 1rem 0;
        width: 22rem;
    }
    
    #end .btn {
        font-size: 1rem;
        padding: 1rem 0;
        width: 20rem;
        margin-bottom: 0.5rem;
    }

}

@media (max-width: 340px) {
    h1, h2, h3, h4 {
        margin-bottom: 0.2rem;
    }
    
    h1 {
        font-size: 2.1rem;
    }
    
    h2 {
        font-size: 1.2rem;
        margin: 1rem;
    }

    .btn {
        font-size: 1rem;
        padding: 1rem 0;
        width: 16rem;
    }
    
    #end .btn {
        font-size: 1rem;
        padding: 1rem 0;
        width: 16rem;
        margin-bottom: 0.5rem;
    }

    .hero {
        padding: 1rem;
    }

    footer {
        padding: 10px 0;
    }
    
    footer .footer-text span {
        font-size: 14px;
    }

    input {
        margin-bottom: 0.5rem;
        width: 18rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .best-score {
        font-size: 1rem;
    }

}
